// Elements
h1.logo {
  font-family: $logo-font;
  color: $blue;
}

h1.logo .icon i {
    color: $yellow;
    font-size: 1.8em;
    padding-left: 10px;
    padding-bottom: 7px;
}

.navbar-brand a:hover {
  text-decoration: none;
}

.navbar-brand:hover {
  opacity: 1 !important;
}

.navbar {
    margin-bottom: 0.75rem;
}