@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
// Variables
$logo-font: 'Righteous', cursive;

// Colors
$yellow: #fcb150;
$blue: #1f253d;
$cyan: #394264;
$turquoise: #11a8ab;
$purple: #9099b7;
$red: #e64c65;

$body-background-color: $cyan;